@import './Excel/excel';
@import './Json/json';

.reader {
  height: 100%;
  display              : grid;
  grid-template-columns: repeat(2, 49%);
  gap                  : 0.5rem;

  &__json,
  &__excel {
    background-color: $editor-background;
    padding         : $spacing;
    border-radius   : $border-radius;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
    color           : $editor-font-color;
  }
}
