@import './variables.scss';
// @import '../components/components';
@import '../views/Auth/auth';
@import '../views/Home/home';

body {
	margin: 0;
	padding: 0;
}
.app {
	&__login {
		height: 100%;
		display: grid;
		justify-content: center;
		gap: 1rem;
	}
}
