@import './variables.scss';
@import '../components/components';


// Estilos para la app
.app {
  background-color: $background-color;
  padding         : $spacing;
  font-size       : $font-size;
  color           : $text-color;

  &__title {
    text-align   : center;
    margin-bottom: $spacing;

    h1 {
      color    : $primary-color;
      font-size: 2rem;
    }
  }

  &__file-actions {
    margin-bottom: $spacing * 2;
  }

  &__reader {
    background-color: #ffffff;
    padding         : $spacing;
    border-radius   : $border-radius;
    box-shadow      : 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}
