.auth {
	box-shadow:
		0 2px 4px rgba(0, 0, 0, 0.02),
		0 -2px 4px rgba(0, 0, 0, 0.02),
		2px 0 4px rgba(0, 0, 0, 0.02),
		-2px 0 4px rgba(0, 0, 0, 0.02);
	padding: 2rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.login {
		> h2 {
			text-align: center;
		}
	}
}
